<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucko.romb.ucko" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name = "android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Pocetna"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Podesavanja"
            android:label="@string/title_activity_podesavanja"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Pitanje"
            android:label="@string/title_activity_pitanje" >
        </activity>
        <activity
            android:name=".Pitanja"
            android:label="@string/title_activity_pitanja" >
        </activity>
        <activity
            android:name=".Lekcija"
            android:label="@string/title_activity_lekcija" >
        </activity>
        <activity
            android:name=".PostojeceLekcije"
            android:label="@string/title_activity_postojece_lekcije" >
        </activity>
        <activity
            android:name=".Odgovor"
            android:label="@string/title_activity_odgovor" >
        </activity>
    </application>

</manifest>
