<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucko.romb.ucko" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Pocetna"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Podesavanja"
            android:label="@string/title_activity_podesavanja"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ActivityPitanje"
            android:label="@string/title_activity_pitanje"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Pitanja"
            android:label="@string/title_activity_pitanja"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ActvityLekcija"
            android:label="@string/title_activity_lekcija"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PostojeceLekcije"
            android:label="@string/title_activity_postojece_lekcije"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ActivityOdgovor"
            android:label="@string/title_activity_odgovor"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PitanjaRad"
            android:label="@string/title_activity_odgovor"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Odgovori"
            android:label="@string/title_activity_odgovori"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
